<!DOCTYPE html>
<html>
<head>
	<title>Download</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header>
    <div class="container">
      <h1>Students Feedback System</h1>
    </div>
  </header>
  
  <div class="container"> 
      <h3><p>All Records</p></h3>
      <a href="/" class="button">Home</a><br>
  </div>
	
  <div class="container">
    <p>
     <% for(var i=0; i < answer.feedback.length; i++) { %>

     <p><%- answer.feedback[i].location %>,
      <%- answer.feedback[i].date %>,
      <%- answer.feedback[i].time %>,
      <%- answer.feedback[i].answer %></p>

      <% } %>
    </p>
  </div>

  <footer></footer>
	
</body>
</html>